/* ========================== banner ========================== */

.banner_container {
    text-align: center;
}

.banner {
    background-color: $red;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 10rem;
    padding: 17rem 0 2rem;
}

.b {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -15rem;
    width: 100%;
    height: 10rem;
}

.banner_content {
    font-family: $sutfont;
    color: $white;
}

.text-head {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}
.text-contentm {
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
    margin-top: 3vw;
}

/* ========================== banner ========================== */

/* ========================== Nav ========================== */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $yl;
    font-family: $sutfont;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: $or;
}
/* ========================== Nav ========================== */

/* ========================= content ========================== */

.grid_con {
    font-family: $sutfont;
    display: grid;
    grid-template-areas:
    'col col col'
    'col1 col2 col3';
    @include grid-default(33.3%, 33.3%, 33.3%);

    div {
        background-color: $white; 
        margin: 1rem 1rem;
        padding: 20px 0;
        text-align: center;
        @include border-radius(10px);
        
    }

    .col{
        grid-area: col;
    }
    .col1{
        grid-area: col1;
    }
    .col2{
        grid-area: col2;
    }
    .col3{
        grid-area: col3;
    }

    h3 {
        font-size: 1.25rem;
        color: $black;
        margin: 0.5rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.6rem;
        color: $black;
        margin: 0.5rem 0;
    }

}
/* ========================= content ========================== */

/* ========================== footer ========================== */

footer {
    width: 100%;
    height: auto;
    background: $vi;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr;
}

.contact_us {
    font-family: $sutfont;
    color: $white;
    text-align: center;
    padding: 1rem 0 1rem 0;
    
    h2 {
        margin-bottom: 10px;
    }
}
/* =============x============= footer ============x============== */